.title {
  color: #0079a8;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .title {
    font-size: 46px;
  }
}
@media (max-width: 374px) {
  .title {
    font-size: 36px;
  }
}
.title span {
  font-weight: 600;
}

.hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .hero__img img {
    min-height: 200px;
    -o-object-position: 23% 50%;
       object-position: 23% 50%;
  }
}
.hero__body {
  padding: 56px 30px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .hero__body {
    padding: 50px 20px;
  }
}
@media (max-width: 374px) {
  .hero__body {
    padding: 40px 15px;
  }
}
.hero__container {
  max-width: 740px;
  width: 100%;
}
.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media (max-width: 767px) {
  .hero__inner {
    gap: 25px;
  }
}
.hero__title br {
  display: none;
}
@media (max-width: 767px) {
  .hero__title br {
    display: flex;
  }
}
.hero__btn {
  max-width: 436px;
}
.hero__btn br {
  display: none;
}
@media (max-width: 410px) {
  .hero__btn br {
    display: flex;
  }
}

.products {
  display: flex;
  justify-content: center;
  padding: 70px 30px;
}
@media (max-width: 767px) {
  .products {
    padding: 50px 20px;
  }
}
@media (max-width: 374px) {
  .products {
    padding: 40px 15px;
  }
}
.products__container {
  max-width: 1220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__inner {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .products__inner {
    margin-bottom: 40px;
  }
}
.products__body {
  display: flex;
  gap: 40px 30px;
  justify-content: center;
}
@media (max-width: 1100px) {
  .products__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 440px) {
  .products__body {
    gap: 40px 15px;
  }
}
.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 220px;
  width: 100%;
}
@media (max-width: 1100px) {
  .products__item {
    width: calc(33.333% - 20px);
    max-width: none;
  }
}
@media (max-width: 767px) {
  .products__item {
    width: calc(50% - 15px);
  }
}
@media (max-width: 440px) {
  .products__item {
    width: calc(50% - 8px);
    gap: 15px;
  }
}
.products__item-img {
  width: 100%;
  height: 100%;
}
.products__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products__item-title {
  color: #0079a8;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
  flex: 0 1 100%;
}
@media (max-width: 767px) {
  .products__item-title {
    font-size: 20px;
  }
}
@media (max-width: 374px) {
  .products__item-title {
    font-size: 17px;
  }
}
.products__item-price {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .products__item-price {
    gap: 10px;
  }
}
.products__item-price-old {
  color: #0079a8;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: strikethrough;
  text-transform: capitalize;
  text-decoration: line-through;
}
@media (max-width: 767px) {
  .products__item-price-old {
    font-size: 20px;
  }
}
@media (max-width: 410px) {
  .products__item-price-old {
    font-size: 18px;
  }
}
@media (max-width: 374px) {
  .products__item-price-old {
    font-size: 16px;
  }
}
.products__item-price-new {
  color: #ee3a81;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .products__item-price-new {
    font-size: 20px;
  }
}
@media (max-width: 410px) {
  .products__item-price-new {
    font-size: 18px;
  }
}
@media (max-width: 374px) {
  .products__item-price-new {
    font-size: 16px;
  }
}
.products__item-btn {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .products__item-btn {
    font-size: 16px;
  }
}
@media (max-width: 410px) {
  .products__item-btn {
    font-size: 14px;
  }
}
@media (max-width: 374px) {
  .products__item-btn {
    font-size: 12px;
  }
}

.reviews {
  display: flex;
  justify-content: center;
  padding: 70px 30px;
  background: #f6f6f6;
}
@media (max-width: 767px) {
  .reviews {
    padding: 50px 20px;
  }
}
@media (max-width: 374px) {
  .reviews {
    padding: 40px 15px;
  }
}
.reviews__container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__inner {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .reviews__inner {
    margin-bottom: 40px;
  }
}
.reviews__title {
  margin-bottom: 25px;
}
.reviews__title br {
  display: none;
}
@media (max-width: 990px) {
  .reviews__title br {
    display: flex;
  }
}
.reviews__description {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  color: #464646;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
}
@media (max-width: 767px) {
  .reviews__description {
    font-size: 18px;
    gap: 5px 10px;
  }
}
@media (max-width: 374px) {
  .reviews__description {
    font-size: 16px;
  }
}
.reviews__description span {
  color: #ee3a81;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
@media (max-width: 767px) {
  .reviews__description span {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .reviews__description img {
    width: 150px;
  }
}
@media (max-width: 374px) {
  .reviews__description img {
    width: 110px;
  }
}
.reviews__body {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}
@media (max-width: 990px) {
  .reviews__body {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .reviews__body {
    flex-direction: column;
    align-items: center;
    gap: 30px 20px;
    margin-bottom: 40px;
  }
}
.reviews__item {
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 767px) {
  .reviews__item {
    max-width: 380px;
  }
}
.reviews__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.reviews__item-icon img {
  max-width: 80px;
}
.reviews__item-content {
  color: #464646;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.reviews__item-author {
  color: #464646;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.reviews__btn {
  max-width: 443px;
}

.social {
  background: #0079a8;
  padding: 10px 0;
}

.social__item {
  aspect-ratio: 1/1;
  max-width: 300px;
}
@media (max-width: 990px) {
  .social__item {
    max-width: 250px;
  }
}
@media (max-width: 767px) {
  .social__item {
    max-width: 200px;
  }
}
@media (max-width: 374px) {
  .social__item {
    max-width: 150px;
  }
}
.social__item video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
}

.form {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  padding: 70px 30px;
}
@media (max-width: 767px) {
  .form {
    padding: 50px 20px;
  }
}
@media (max-width: 374px) {
  .form {
    padding: 40px 15px;
  }
}
.form__inner {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .form__inner {
    margin-bottom: 40px;
  }
}
.form__container {
  max-width: 900px;
  width: 100%;
}
@media (max-width: 767px) {
  .form__title {
    font-size: 36px;
  }
}
@media (max-width: 374px) {
  .form__title {
    font-size: 21px;
  }
}
@media (max-width: 550px) {
  .form__body form > div > div {
    flex-wrap: wrap;
  }
  .form__body form > div > div > div {
    flex: 1 1 100% !important;
    padding: 0 !important;
    margin-bottom: 20px;
  }
}
.form__body form > div > div:nth-child(2) > div:nth-child(1) {
  flex: 1 1 100% !important;
}
.form__body form > div > div:nth-child(2) > div:nth-child(2) {
  flex: 1 1 240px !important;
}
.form__body form > div > div:nth-child(2) > div:nth-child(2) button {
  width: 100%;
  font-weight: 600 !important;
}